.fillWhite {
  fill: #ffffff;
}

.fillWhiteOpacity0 {
  fill: #ffffff;
  opacity: 0;
}

.fillFfbb00 {
  fill: #ffbb00;
}

.fillOpacity98077 {
  opacity: 0.98077;
}

.strokeLinejoinRound {
  stroke-linejoin: round;
}

.fillRuleEvenodd {
  fill-rule: evenodd;
}

.strokeWidth13084 {
  stroke-width: 1.3084;
}

.fillRadialGradient915 {
  fill: url(#radialGradient915);
} 